body {
  font-family: sans-serif;
  background-color: #1a1a1a;
  color: #fff;
  margin: 0;
  line-height: 1.6;
  background-image: url('fundografico.jpg'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-color: #212121;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#logo_empresa {
  display: flex;
  align-items: center;
  margin-left: 20px;
  width: 300px; 
  height: auto; 
  margin-right: 8px; 
  vertical-align: middle;
}

#logo_empresa img {
  height: 70px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

nav li {
  margin-left: 20px;
  padding: 5px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  display: flex;
  align-items: center;
}

nav li img {
  height: 70px; 
}

nav ul li:hover a {
  color: #3e8e41;
}

nav ul li#logout a {
  background-color: #3e8e41;
  padding: 5px 10px;
  border-radius: 5px;
}

nav ul li#logout a:hover {
  background-color: #1a471c;
}

main {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.balance {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.card {
  background-color: #333;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  flex: 1;
  position: relative;
}

.card h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

.card p {
  font-size: 28px;
  margin-bottom: 20px;
}

.card button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 16px;
}

.card button:hover {
  background-color: #3e8e41;
}

.transactions {
  background-color: #333;
  padding: 30px;
  border-radius: 10px;
}

.transactions h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid #444;
}

th {
  background-color: #444;
}

.valor {
  font-weight: bold;
}

.delete-transaction {
  background-color: #f44336;
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
}

.delete-transaction:hover {
  background-color: #d32f2f;
}

footer {
  background-color: #212121;
  padding: 20px 0;
  text-align: center;
  margin-top: 40px;
}

footer p {
  margin-bottom: 15px;
}

.social-media {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.social-media li {
  display: inline-block;
  margin: 0 10px;
}

.social-media a {
  color: #fff;
  font-size: 24px;
}

.total-negativo {
  background-color: red;
}

.total-positivo {
  background-color: green;
}

.add-saida-button {
  background-color: #f44336;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background-color: #333;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
  color: #fff;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.modal-content input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
}

#saveTransaction {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#saveTransaction:hover {
  background-color: #45a049;
}

@media (max-width: 480px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  #logo_empresa {
    margin-bottom: 20px;
    width: 100%;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  main {
    flex-direction: column;
  }

  .balance {
    flex-direction: column;
  }

  .modal-content {
    width: 100%;
    margin: 20% auto;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  #logo_empresa {
    margin-bottom: 20px;
    width: 200px;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  main {
    flex-direction: column;
  }

  .balance {
    flex-direction: column;
  }

  .modal-content {
    width: 90%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  header {
    flex-direction: row;
  }

  #logo_empresa {
    width: 250px;
  }

  nav ul {
    flex-direction: row;
  }

  .modal-content {
    width: 80%;
  }
}
