body {
  font-family: sans-serif;
  background-color: #1a1a1a;
  color: #fff;
  margin: 0;
  line-height: 1.6;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
}

body.planejamento {
  background-image: url('planejamento.jpg');
}

body.reserva {
  background-image: url('reserva.jpg');
}

body.investir {
  background-image: url('investir.jpg');
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-color: #212121;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#logo_empresa {
  display: flex;
  align-items: center;
  margin-left: 20px;
  width: 300px; 
  height: auto; 
  margin-right: 8px; 
  vertical-align: middle;
}

#logo_empresa img {
  height: 70px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

nav li {
  margin-left: 20px;
  padding: 5px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  display: flex;
  align-items: center;
}

nav ul li:hover a {
  color: #3e8e41;
}

nav ul li#logout a {
  background-color: #3e8e41;
  padding: 5px 10px;
  border-radius: 5px;
}

nav ul li#logout a:hover {
  background-color: #1a471c;
}

.card, .card2, .card3 {
  display: flex;
  flex-direction: column;
  width: 600px;
  border: 1px solid #181818;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: #181818;
  margin: 0 20px;
  font-family: Arial, sans-serif;
  margin-left: 460px;
  margin-right: 150px;
  opacity: 0.8;
}

.card {
  margin-top: 70px;
  transition: opacity 0.5s ease;
}

.card2, .card3 {
  margin-top: 100px;
}

.card p, .card h1, .card2 p, .card2 h1, .card3 p, .card3 h1 {
  margin-left: 20px;
  margin-right: 20px; 
}

.arrow {
  cursor: pointer;
  font-size: 24px;
  color: white;
  position: fixed;
  top: 50%; 
  transform: translateY(-50%);
  padding: 10px;
}

.arrow.left {
  left: 10px;
}

.arrow.right {
  right: 10px;
}

.video-section {
  margin-top: 150px; 
  padding: 50px 0; 
  background-color: #ffffff;
  text-align: center;
}

.video-section h1 {
  margin-bottom: 20px;
  color: #000;
}

.video-section iframe {
  width: 80%; 
  max-width: 900px; 
  height: 506px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 480px) {
  header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #logo_empresa {
    margin-bottom: 10px;
    width: 200px;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  .card, .card2, .card3 {
    width: 100%;
    margin: 20px 0;
    margin-left: 0;
    margin-right: 0;
  }

  .video-section iframe {
    width: 100%;
    height: auto;
  }

  .arrow.left, .arrow.right {
    display: none;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #logo_empresa {
    width: 250px;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  .card, .card2, .card3 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .video-section iframe {
    width: 90%;
    height: auto;
  }

  .arrow.left, .arrow.right {
    display: none;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  header {
    flex-direction: row;
    justify-content: space-between;
  }

  #logo_empresa {
    width: 270px;
  }

  .card, .card2, .card3 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .video-section iframe {
    width: 80%;
    height: auto;
  }
}
