body {
    font-family: sans-serif;
    background-color: #1a1a1a;
    color: #fff;
    margin: 0;
    line-height: 1.6;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  header {
    background-color: #212121;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }
  
  #logo_empresa {
    height: 210px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: -60px;
    margin-left: 110px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin-left: 20px;
    padding: 5px;
  }

  nav li :hover{
    color:#3e8e41;
  }

  nav ul li #logout a{
    display: flex;
    align-items: center;
    background-color: #3e8e41;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  nav ul li #logout a i{
    margin-right: 5px;
  }

  nav ul li #logout a :hover{
    background-color:#1a471c;
  }

  nav a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
  }
  